{% extends "core/base.html" %} 
{% block title %} Library Management System {%endblock %} 
{% block content %} 
{% load crispy_forms_tags %}
{% load static %}

<div class="container bg-white rounded">
    <div class="d-flex justify-content-center align-items-center my-5 "style ="height:80vh;">
        <div class="m-2"> <!-- Add margin right for spacing -->
          <img src="{% static 'img.jpg' %}" alt="image" style = "width:700px" class="rounded"/>
        </div>
        <div class="m-2 " > 
          <p style ="text-align:justify;">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos iste
            commodi sit, repudiandae optio, voluptatem tempora suscipit quasi vero
            deserunt deleniti necessitatibus expedita molestiae dolorem minima cumque?
            Dolor, voluptas quibusdam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos iste
            commodi sit, repudiandae optio, voluptatem tempora suscipit quasi vero
            deserunt deleniti necessitatibus expedita molestiae dolorem minima cumque?
            Dolor, voluptas quibusdam Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos iste
            commodi sit, repudiandae optio, voluptatem tempora suscipit quasi vero
            deserunt deleniti necessitatibus expedita molestiae dolorem minima cumque?
            Dolor, voluptas quibusdam
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos iste
            commodi sit, repudiandae optio, voluptatem tempora suscipit quasi vero
            deserunt deleniti necessitatibus expedita molestiae dolorem minima cumque?
            Dolor, voluptas quibusdam Dolor, voluptas quibusdam
            deserunt deleniti necessitatibus expedita molestiae dolorem minima cumque?
            Dolor, voluptas quibusdam Dolor, voluptas quibusdam
          
            
            
        </div>
      </div>
</div>
  

{% endblock %}
